body{
    height: 100%;
}

.content{
    display: none;
}

.load, #standForm{
    height:80vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    height: 100vh;
  }

.list{
    margin-left: 10px;
    width: 100%;
    padding-top:1vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    width: 50%;
}

.day{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 25px;
}

#submission{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.btn{
    width: 150px;
    font-size: 20px;
    margin-left: 13%;
}

.card{
    margin: 10px;
}